body{
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
/* HEAD*/
.head{
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.head--sub{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

.head--sub--sub{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

/*AQUA COLOR*/
a.aqua{
    color: aquamarine;
    font-size: 16px;
}

/*FOOTER*/
.footer{
    text-align: right;
    color: gray;
    display: block;
    font-size: 21px;
}

.end{
    color: #ffffff;
}